BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never

Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Middle
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
IndentPPDirectives: AfterHash
IndentCaseLabels: true
PPIndentWidth: 1
QualifierAlignment: Custom
QualifierOrder: [static, constexpr, inline, friend, type, const, volatile, restrict]
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<[a-z_/]+>$'
    Priority:        1
  - Regex:           '^<[a-z_/]+\.h>$'
    Priority:        2
  - Regex:           '^<.*\.hxx>$'
    Priority:        3
  - Regex:           '".*"'
    Priority:        4
